@font-face{
  font-family: arialnarrow;
  src: url(arial-narrow.ttf);
}

@font-face{
  font-family: arialnarrowBold;
  src: url(arial-narrow-bold.ttf);
}

/*Uma das coisas mais decentes de fazer é deixar "responsivo", apesar de ter desabilitado a barra de menu padrão do electron
  alguém pode querer dar uma olhada no dev tools, e acaba q "quebrando" o estilo em modo janela, ai fica feio*/

/*observe que aqui, ponho incialmente a opacity em 0, ao passo que a transição
  irá reverter, com a ajuda do script.js*/
h1{
  color: white;
  font-family: arialnarrowBold;
  opacity: 0;
  font-weight: bold;
  transition: opacity 1.25s;
  font-size: 175px;
}

/*não consigo pôr o "-webkit-font-smoothing: antialiased;" , verify*/
h2{
  color: white;
  font-family: arialnarrow;
  font-weight: normal;
  opacity: 0;
  transition: opacity 0.8s;
  font-size: 65px;
  text-rendering: optimizeLegibility;
}
h2.bottom{
  transition: opacity 4s;
}

  /*centralization*/
div.center{
  height: 200px;
  line-height: 875px;
  text-align: center;
}

span{
  display: inline-block;
  vertical-align: middle;
  line-height: 0px;
}
